.space {
    background-color: rgba(255, 255, 255, 0.61);
    display: flex;
    border-radius: 20px;
    border: 2px solid black;
    width: 95%;
    height: 90%;
    margin: 50px;
}

body {
    background-image: url(/CSS_Avanzado/img1.jpg);
    background-position: center;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.left {
    width: 40%;
    padding: 20px;
}

.right {
    border-left: 4px solid black;
    border-left-style: dashed;
    width: 55%;
    padding: 30px;
}

video {
    width: 50%;
    height: auto;
    border-radius: 20px;
    transform: rotateZ(90deg);
    margin-left: 25%;
    margin-top: -8%;
}

h1 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
    margin-top: 5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 28px;
    text-align: justify;
}

span{
    background-color: #e06ba1;
}

/* Estilos para pantallas medianas (por ejemplo, tablets) */
@media (min-width: 768px) {
    body {
        font-size: 18px;
    }
}

/* Estilos para pantallas grandes (por ejemplo, desktops) */
@media (min-width: 1024px) {
    body {
        font-size: 20px;
    }
}

/* Puedes agregar más rangos de ancho de pantalla si lo necesitas */
@media (min-width: 1200px) {
    body {
        font-size: 22px;
    }
}